
body, html{
	width: 100%;
	overflow-x: hidden;
}

header{
	width: 100%;
	text-align: center;
	height: 60px;
	color: #000000;
	font-size: 30px;
    font-weight: bold;
	line-height: 60px;
	box-shadow: 0 3px 10px #444;
    position: fixed;
    background: #5F5F5F;
}
.gallery{
	width: 90%;
	margin: 0 auto;
	margin-top: 30px;
}

.field{
	text-align: center;
	margin-top: 80px;
}

.form-control{
	width: 300px;
	display: inline-block;
}

.snapip {
    margin: 10px 0px;
}

.snaps{
	position: relative;
	margin: 5px 0;
	border: 1px solid #333;
	cursor: pointer;
	border-bottom: 1px solid #333;
	-webkit-transition: all 1s ease-out;
	-moz-transition: all 1s ease-out;
	transition: all 1s ease-out;
}

.snaps:hover{
	transform: scale(1.1);
	/*top: -5px;*/
}
.ip{
	height: 30px;
	line-height: 30px;
	color: #555;
	text-align: center;
}
.gallery img{
	width: 100%;
}

footer{
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 15px 0;
    margin-top: 15px;
}
