<!DOCTYPE html>
<html>
<head>
	<title> Chat Server </title>
</head>
<body>

<img src="screenshots/localhost.jpg">

<button onclick="getSnap()"> Create Snap </button>

<button onclick="quit()"> Bye </button>

<script src="socket.io.js"></script>
<script src="ips.js"></script>




</body>
</html>