<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title> SnapAll </title>
</head>
<body>


<header>SnapAll</header>

<div class="field">
	<form action="/getIp" method="post" onsubmit="checkData()" class="form-group">
        
        <div class="fieldrow">
            <label>IP Addr &nbsp;:</label>
            <input type="number" name="ip" min="0" max="255" required="required" class="form-control"> <b>.</b>
            <input type="number" name="ip" min="0" max="255" required="required" class="form-control"> <b>.</b>
            <input type="number" name="ip" min="0" max="255" required="required" class="form-control"> <b>.</b>
            <input type="number" name="ip" min="0" max="255" required="required" class="form-control">
        </div>

        <div class="fieldrow">
            <label>Netmask:</label>
            <input type="number" name="netmask" min="0" max="255" required="required" class="form-control"> <b>.</b>
            <input type="number" name="netmask" min="0" max="255" required="required" class="form-control"> <b>.</b>
            <input type="number" name="netmask" min="0" max="255" required="required" class="form-control"> <b>.</b>
            <input type="number" name="netmask" min="0" max="255" required="required" class="form-control">
        </div>

        <div class="fieldrow">
            <button class="btn btn-danger" onclick="disableBtn()">Submit</button>	
      <button class="btn btn-danger" id="snap-btn" onclick="getSnap()" disabled="disabled"> Get Snap </button>

        </div>
	</form>	
	<div>
	</div>
</div>

<div class="gallery">
	<div class="snapgallery row multi-columns-row">
    </div>      
</div>

<div class="layer">
	<div class="close" onclick="hidePreview()"><img src="images/cancel.png"></div>
	
</div>
<div class="preview">
	<div class="preview-img"></div>
</div>


<footer>
	&copy; All Rights Reserved 
</footer>

<script src="js/socket.io.js"></script>
<script src="js/ips.js"></script>

</body>
</html>
