<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title> SnapAll </title>
</head>
<body>


<header>SnapAll</header>

<div class="field">
	<form action="/getIp" method="post" onsubmit="checkData()" class="form-group">
        <label>IP:</label>
		<input type="text" name="ip" required="required" class="form-control"> &nbsp;&nbsp;
        <label>Netmask:</label>
		<input type="text" name="netmask" required="required" class="form-control">
		<button class="btn btn-danger">Submit</button>	
	</form>	
	<div style="margin-top: 15px;">
	    <button class="btn btn-danger" onclick="getSnap()"> Get Snap </button>
	</div>
</div>

<div class="gallery">
	<div class="snapgallery row multi-columns-row">
          <div class="snapip col-md-3 col-sm-3 col-xs-6">
          	<div class="snaps">
          		<img src="screenshots/sample.jpg" height="150" width="266">
          		<div class="ip"> 127.0.0.1 </div>
          	</div>
          </div>
    </div>      
</div>

<footer>
	&copy; All rights reserved 
</footer>

<script src="js/socket.io.js"></script>
<script src="js/ips.js"></script>

</body>
</html>
