<!DOCTYPE html>
<html>
<head>
	<title> Chat Server </title>
</head>
<body>

<div class="field">
	<form action="/getIp" method="post" onsubmit="checkData()">
        <p>IP: </p>
		<input type="text" name="ip" required="required">
        <br/>
        <p>Netmask: </p>
		<input type="text" name="netmask" required="required">
        <br/>
		<button>Submit</button>	
	</form>	
</div>

<div class="gallery">

</div>

	

<button onclick="getSnap()"> Get Snap </button>

<button onclick="quit()"> Bye </button>

<script src="js/socket.io.js"></script>
<script src="js/ips.js"></script>




</body>
</html>
